@charset "UTF-8";
body{
  margin : 0px;
}

#eyecatch{
  position: absolute;
  width: 80%;
  left: 20%;
  background-color:lavenderblush;
}
#eyecatch #shelf_name {
  font-size : 30px;
  padding-left : 30%;
}
#eyecatch #shelf_owner{
  font-size : 20px;
  padding-left: 60%;
}

#sidebar{
  position: absolute;
  width:20%;
  background-color: #f08080;
}
