@charset "UTF-8";

body{
  margin : 0px;
}

#eyecatch{
  position: absolute;
  font-family: cursive;
  width: 80vw;
  left: 20%;
  background-color:lavenderblush;
}
#eyecatch #shelf_name {
  font-size : 30px;
  padding-left : 30%;
}
#eyecatch #shelf_owner{
  font-size : 20px;
  padding-left: 60%;
}

#sidebar{
  position: fixed;
  width:20vw;
  height:100vh;
  background-color: #f08080;
}
#sidebar #textarea{
  resize:none;
}
