@charset "UTF-8";

body{
  margin : 0px;
}

.list-group-item{
  border-radius: 0px;
}

#eyecatch{
  position: absolute;
  font-family: cursive;
  color:slategray;
  width: 80vw;
  left: 20vw;
  max-height:35vh;
  border-width: 2px;
  border-color: aliceblue;
  border-bottom-style:solid;
}
#eyecatch #shelf_name {
  font-size : 30px;
  padding-top: 8vh;
  padding-left : 30vw;
}
#eyecatch #shelf_owner{
  font-size : 20px;
  padding-left: 50vw;
  padding-bottom: 8vh;
}

#sidebar{
  position: fixed;
  width:20vw;
  height:100vh;
  background-color: lightcoral;
}


#bookshelf{
  position: absolute;
  width:80vw;
  height:65vh;
  left:20vw;
  top:35vh;
  overflow-x: hidden;
  overflow-y: scroll;

}
