@charset "UTF-8";

.books{
  margin-top: 10vh;
  margin-left: 7vw;
  margin-right: 0px;
  margin-bottom: 10vh;
  float:left;
  max-width: 10rem;
  max-height: 10rem;
  overflow: hidden;
}
.books img{
  position: relative;
  padding: 0px; 
  width: 100%;
  height: 100%;
}
